header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding-inline: 32px;
}

#profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-primary-color);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >= 30em) {
  header .container {
    align-items: center;
  }
}

@media (width >= 80em){
  header .container {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  #profile {
    flex-direction: row;
    gap: 32px;
  }
}